<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>CluesServlet</servlet-name>
        <servlet-class>com.navigation.servlet.CluesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CluesServlet</servlet-name>
        <url-pattern>/clueBasedSearch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>POIServlet</servlet-name>
        <servlet-class>com.navigation.servlet.POIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>POIServlet</servlet-name>
        <url-pattern>/POISearch</url-pattern>
    </servlet-mapping>

</web-app>